.cover__photo {
  background-image: url("../../../images/cover-image.jpg");
  max-width: 1184px;
  min-height: 740px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  text-decoration: none;
  position: relative;
}

.cover__photo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.3;
  transition: opacity 0.5s ease-in;
}

.cover__photo:hover::after {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__photo {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__photo {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__photo {
    min-height: 200px;
  }
}
