.photo-grid {
  margin: 0;
  padding-top: 92px;
  width: 100%;
  min-height: 671px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr)); /*Разобраться*/
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  gap: 16px;
  justify-items: center;
  align-items: center;
}
