.card__url {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .card__url {
    max-width: 352px;
    width: calc(100% - 16px * 2);
    margin: 0 auto;
  }
}
